@font-face {
    font-family: "WonderBar";
    src: url("../assets/fonts/Wonderbar-pALD.ttf");
}

@font-face {
    font-family: "Nexa";
    src: url("../assets/fonts/Nexa/Nexa-Light.otf");
    src: url("../assets/fonts/Nexa/Nexa-Bold.otf");
}

button,input{
    height: 30px;
}

h4{
    font-weight: unset !important;
}

nav{
    background-color: #EBEBEB;
}

.active{
    color: #A7D6D2 !important;
}

nav>:nth-child(3)>div>a{
    font-family: WonderBar;
    font-size: 20px;
    color: #543213;
    transition: color .5s;
}

nav>:nth-child(3)>div>a:hover{
    transition: color .5s;
    color: #A7D6D2;
}

nav>button>span{
    font-family: WonderBar;
    font-size: 20px;
    color: #543213;
}

main{
    background-color: #543213;
    padding: 15px 20px 10px 50px;
    position: relative;
}

.slider{
    width: 65%;
    height: 380px;
    background-color: white;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,.22);
    border-radius: 30px;
    display: inline-block;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border: 1.5px solid white;
}

.slider img{
    background-size: cover;
}

.sliderText{
    text-align: center;
    width: 40%;
    position: absolute;
    color: white;
    font-family: WonderBar;
    font-size: 30px;
}

.s1{
    top: 10%;
    right: 30px;
}

.s2{
    top: 20%;
    left: 10px;
}

.s3{
    top: 5px;
    right: 80px;
}

.s4{
    width: 80%;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}


.home{
    width: 42%;
    height: 560px;
    background-color: white;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,.22);
    border-radius: 30px;
    display: inline-block;
    position: absolute;
    right: 5.5%;
    margin-top: 30px;
    z-index: 9;
}

.home>:nth-child(1){
    width: 100%;
    height: 40px;
    background-color: #A7D6D2;
    border-radius: 40px;
    padding: 6px 20px 0 0;
    text-align: right;
}

.home>:nth-child(1) h4{
    font-family: WonderBar;
    font-size: 18px;
    display: inline;
}

.home>:nth-child(2){
    width: 70%;
    margin-left: 30%;
    height: 310px;
    text-align: center;
    z-index: 10;
    position: relative;
}

.home>:nth-child(2)>img {
    margin-top: 30px;
    display: inline-block;
}

.home>:nth-child(2)>h4{
    width: 80%;
    font-family: Nexa;
    display: inline-block;
}

.home>:nth-child(2)>h4:nth-child(2){
    font-size: 30px;
}

.home>:nth-child(2)>h4:nth-child(2):first-letter{
    font-family: WonderBar;
    color: #543213;
}


.home>:nth-child(3){
    width: 100%;
    height: 190px;
    padding: 10px;
}

.home>:nth-child(3)>div{
    width: 180px;
    height: 180px;
    background-color: #A7D6D2;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    position: relative;
}

.home>:nth-child(3)>h4{
    font-family: Nexa;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 18%;
    z-index: 10;
}

.home>:nth-child(3)>div>:nth-child(1){
    position: absolute;
    width: 30px;
    height: 30px;
    right: 39px;
    top: 15px;
}

.home>:nth-child(3)>div>div{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid  white;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.home>:nth-child(3)>div>:nth-child(3){
    left: 50%;
    top: -20px;
}

.home>:nth-child(3)>div>:nth-child(4){
    top: -50px;
}













.certification{
    width: 46%;
    height: 210px;
    background-color: white;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,.22);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0 0 0 70px;
    position: relative;
    top: -6px;
    text-align: center;
}


.certification>:nth-child(1){
    width: 100%;
    height: 40px;
    background-color: #A7D6D2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.certification>:nth-child(1) h4{
    font-family: WonderBar;
    padding: 12px 0 0 20px;
    font-size: 18px;
    text-align: left;
}

.certification>:nth-child(2){
    padding: 10px 10px 10px 10px;
}

.certification>:nth-child(2)>img{
    margin: 2% 0% 0% 10%;
}

.certification>h4{
    width: 90%;
    font-family: WonderBar;
    display: inline-block;
}


